node_modules/
dist/
*.db
*.db-wal
*.db-shm
.env
coverage/
*.tsbuildinfo
/docs/src/*
/old_src/*
/examples/teams-bot/node_modules/*
/examples/teams-bot/dist/*
/examples/teams-bot/data/*
/examples/teams-bot/.env
/examples/teams-bot/package-lock.json
/examples/teams-bot/package.json
/examples/teams-bot/package-lock.json
/examples/teams-bot/src/knowledge/*

/examples/telegram-bot/node_modules/*
/examples/telegram-bot/dist/*
/examples/telegram-bot/data/*
/examples/telegram-bot/.env
/examples/telegram-bot/package-lock.json
/examples/telegram-bot/package.json
/examples/telegram-bot/package-lock.json
